<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>legend.py &mdash; Bokeh 0.12.10 documentation</title>
  <meta name="description" content="Bokeh visualization library, documentation site.">
  <meta name="author" content="Bokeh contributors">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Source Sans Pro']
      }
    });
  </script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="//bokehplots.com/theme/css/main.css">


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    var _BOKEH_CURRENT_VERSION = "0.12.10";
  </script>
  <script src="../../_static/js/main.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../../_static/images/favicon.ico">

  <!-- Canonical
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="canonical" href="https://bokeh.pydata.org/en/latest/docs/gallery/legend.html" />

</head>
<body class="">

  <header class="navigation">
    <div class="wrapper">
      <a href="" class="logo">
        <img src="../../_static/images/logo.png" alt="Bokeh Logo">
      </a>
      <a href="" class="navigation-menu logo-text">Bokeh</a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
      <nav>
        <ul id="js-navigation-menu" class="navigation-menu show">
          
              <li class="nav-link"><a href="//bokehplots.com/pages/about-bokeh.html">About</a></li>
          
              <li class="nav-link"><a href="/docs/gallery.html">Gallery</a></li>
          
              <li class="nav-link"><a href="//bokeh.pydata.org/en/latest/">Docs</a></li>
          
              <li class="nav-link"><a href="//github.com/bokeh/bokeh">Github</a></li>
          
        </ul>
      </nav>
    </div>
  </header>
  <div class="second-nav">
    <nav>
      <ul class="navigation-menu show">
        <li class="nav-link more"><a href="../../index.html">0.12.10</a>
            <ul class="submenu">
              
              <li class="version-link"><a href="//bokeh.pydata.org/en/0.12.10/">0.12.10</a></li>
              
              <li class="version-link"><a href="//bokeh.pydata.org/en/0.12.9/">0.12.9</a></li>
              
              <li class="version-link"><a href="//bokeh.pydata.org/en/0.12.7/">0.12.7</a></li>
              
              <li class="version-link"><a href="//bokeh.pydata.org/en/0.12.6/">0.12.6</a></li>
              
              <li class="version-link"><a href="//bokeh.pydata.org/en/0.11.0/">0.11.0</a></li>
              
            </ul>
        </li>
            <li class="nav-link doc-head"><a href="../installation.html">Installation</a></li>
            <li class="nav-link doc-head"><a href="../user_guide.html">User Guide</a></li>
            <li class="nav-link doc-head"><a href="../gallery.html">Gallery</a></li>
            <li class="nav-link doc-head"><a href="../reference.html">Reference</a></li>
            <li class="nav-link doc-head"><a href="../releases/0.12.10.html">Releases</a></li>
            <li class="nav-link doc-head"><a href="../dev_guide.html">Developer Guide</a></li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
  <form role="search" action="../../search.html" method="get">
    <input type="search" name="q" placeholder="Search" />
    <button type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon-black.png" alt="Search Icon">
    </button>
  </form>
</div>
    </div>
  </div>

<!-- MAIN BODY OF DOCS –––––––––––––––––– -->
  <div class="docs section">
    <div class="toc">
      <ul>
<li class="toctree-l1"><a class="reference internal" href="../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide.html">User Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/quickstart.html">Quickstart</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/setup.html">Getting Set Up</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/concepts.html">Defining Key Concepts</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/plotting.html">Plotting with Basic Glyphs</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/data.html">Providing Data for Plots and Tables</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/layout.html">Laying out Plots and Widgets</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/categorical.html">Handling Categorical Data</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/graph.html">Visualizing Network Graphs</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/geo.html">Mapping Geo Data</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/tools.html">Configuring Plot Tools</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/styling.html">Styling Visual Attributes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/annotations.html">Adding Annotations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/interaction.html">Adding Interactions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/server.html">Running a Bokeh Server</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/notebook.html">Working in the Notebook</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/export.html">Exporting Plots</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/embed.html">Embedding Plots and Apps</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/cli.html">Using <code class="docutils literal"><span class="pre">bokeh</span></code> Commands</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/extensions.html">Extending Bokeh</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/compat.html">Leveraging Other Libraries</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/webgl.html">Speeding up with WebGL</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/bokehjs.html">Developing with JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/tutorials.html">Tutorials</a></li>
<li class="toctree-l1"><a class="reference internal" href="../user_guide/info.html">Learning More</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference.html">Reference Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/0_bokeh.html">bokeh</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/application.html">bokeh.application</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/client.html">bokeh.client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/colors.html">bokeh.colors</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/command.html">bokeh.command</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/core.html">bokeh.core</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/document.html">bokeh.document</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/driving.html">bokeh.driving</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/embed.html">bokeh.embed</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/events.html">bokeh.events</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/io.html">bokeh.io</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/layouts.html">bokeh.layouts</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/model.html">bokeh.model</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/models.html">bokeh.models</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/palettes.html">bokeh.palettes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/plotting.html">bokeh.plotting</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/protocol.html">bokeh.protocol</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/resources.html">bokeh.resources</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/sampledata.html">bokeh.sampledata</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/server.html">bokeh.server</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/settings.html">bokeh.settings</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/sphinxext.html">bokeh.sphinxext</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/themes.html">bokeh.themes</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/tile_providers.html">bokeh.tile_providers</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/transform.html">bokeh.transform</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/util.html">bokeh.util</a></li>
<li class="toctree-l1"><a class="reference internal" href="../dev_guide.html">Developer Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../dev_guide/setup.html">Getting Set Up</a></li>
<li class="toctree-l1"><a class="reference internal" href="../dev_guide/env_vars.html">Environment Variables</a></li>
<li class="toctree-l1"><a class="reference internal" href="../dev_guide/testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../dev_guide/documentation.html">Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../dev_guide/models.html">Bokeh Models</a></li>
<li class="toctree-l1"><a class="reference internal" href="../dev_guide/server.html">Server Architecture</a></li>
<li class="toctree-l1"><a class="reference internal" href="../dev_guide/bindings.html">Language Bindings</a></li>
<li class="toctree-l1"><a class="reference internal" href="../dev_guide/bokehjs.html">BokehJS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.10.html">0.12.0 (Oct 2017)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.9.html">0.12.9 (Sep 2017)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.7.html">0.12.7 (Aug 2017)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.6.html">0.12.6 (Jun 2017)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.5.html">0.12.5 (Mar 2017)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.4.html">0.12.4 (Jan 2017)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.3.html">0.12.3 (Oct 2016)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.2.html">0.12.2 (Sept 2016)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.1.html">0.12.1 (Jul 2016)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.12.0.html">0.12.0 (Jun 2016)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.11.1.html">0.11.1 (Feb 2016)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.11.0.html">0.11.0 (Jan 2016)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.10.0.html">0.10.0 (Sep 2015)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.9.3.html">0.9.3 (Aug 2015)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.9.2.html">0.9.2 (Jul 2015)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.9.1.html">0.9.1 (Jul 2015)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.9.0.html">0.9.0 (May 2015)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.8.2.html">0.8.2 (Mar 2015)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.8.1.html">0.8.1 (Feb 2015)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.8.0.html">0.8.0 (Feb 2015)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.7.1.html">0.7.1 (Jan 2015)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.7.0.html">0.7.0 (Dec 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.6.1.html">0.6.1 (Sep 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.6.0.html">0.6.0 (Sep 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.5.2.html">0.5.2 (Aug 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.5.1.html">0.5.1 (Jul 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.5.0.html">0.5.0 (Jul 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.4.4.html">0.4.4 (Apr 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.4.2.html">0.4.2 (Mar 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.4.1.html">0.4.1 (Feb 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.4.0.html">0.4.0 (Feb 2014)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.3.0.html">0.3.0 (Nov 2013)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.2.0.html">0.2.0 (Oct 2013)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../releases/0.1.0.html">0.1.0 (Apr 2013)</a></li>
</ul>

    </div>
    <div class="content">
        
  <div class="section" id="legend-py">
<span id="index-0"></span><h1>legend.py<a class="headerlink" href="#legend-py" title="Permalink to this headline">¶</a></h1>
<script
    src="/scripts/bokeh-plot-74d153e217eb4ae5a8bd0f534a304207.js"
    id="b6e24db8-7a6e-4db2-986e-a9e2895c9e1c"
    data-bokeh-model-id="67bb3164-7fa0-44e4-9b5b-dd521b363d04"
    data-bokeh-doc-id="3bcc7768-0fcc-46f2-ac40-5e8a868cd5cf"
></script><hr class="docutils" />
<div class="highlight-python"><div class="highlight"><pre><span></span><span class="kn">import</span> <span class="nn">numpy</span> <span class="kn">as</span> <span class="nn">np</span>

<span class="kn">from</span> <span class="nn">bokeh.layouts</span> <span class="kn">import</span> <span class="n">gridplot</span>
<span class="kn">from</span> <span class="nn">bokeh.plotting</span> <span class="kn">import</span> <span class="n">figure</span><span class="p">,</span> <span class="n">show</span><span class="p">,</span> <span class="n">output_file</span>

<span class="n">x</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">linspace</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="mi">4</span><span class="o">*</span><span class="n">np</span><span class="o">.</span><span class="n">pi</span><span class="p">,</span> <span class="mi">100</span><span class="p">)</span>
<span class="n">y</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">sin</span><span class="p">(</span><span class="n">x</span><span class="p">)</span>

<span class="n">TOOLS</span> <span class="o">=</span> <span class="s2">&quot;pan,wheel_zoom,box_zoom,reset,save,box_select&quot;</span>

<span class="n">p1</span> <span class="o">=</span> <span class="n">figure</span><span class="p">(</span><span class="n">title</span><span class="o">=</span><span class="s2">&quot;Legend Example&quot;</span><span class="p">,</span> <span class="n">tools</span><span class="o">=</span><span class="n">TOOLS</span><span class="p">)</span>

<span class="n">p1</span><span class="o">.</span><span class="n">circle</span><span class="p">(</span><span class="n">x</span><span class="p">,</span>   <span class="n">y</span><span class="p">,</span> <span class="n">legend</span><span class="o">=</span><span class="s2">&quot;sin(x)&quot;</span><span class="p">)</span>
<span class="n">p1</span><span class="o">.</span><span class="n">circle</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="mi">2</span><span class="o">*</span><span class="n">y</span><span class="p">,</span> <span class="n">legend</span><span class="o">=</span><span class="s2">&quot;2*sin(x)&quot;</span><span class="p">,</span> <span class="n">color</span><span class="o">=</span><span class="s2">&quot;orange&quot;</span><span class="p">)</span>
<span class="n">p1</span><span class="o">.</span><span class="n">circle</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="mi">3</span><span class="o">*</span><span class="n">y</span><span class="p">,</span> <span class="n">legend</span><span class="o">=</span><span class="s2">&quot;3*sin(x)&quot;</span><span class="p">,</span> <span class="n">color</span><span class="o">=</span><span class="s2">&quot;green&quot;</span><span class="p">)</span>

<span class="n">p2</span> <span class="o">=</span> <span class="n">figure</span><span class="p">(</span><span class="n">title</span><span class="o">=</span><span class="s2">&quot;Another Legend Example&quot;</span><span class="p">,</span> <span class="n">tools</span><span class="o">=</span><span class="n">TOOLS</span><span class="p">)</span>

<span class="n">p2</span><span class="o">.</span><span class="n">circle</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="n">y</span><span class="p">,</span> <span class="n">legend</span><span class="o">=</span><span class="s2">&quot;sin(x)&quot;</span><span class="p">)</span>
<span class="n">p2</span><span class="o">.</span><span class="n">line</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="n">y</span><span class="p">,</span> <span class="n">legend</span><span class="o">=</span><span class="s2">&quot;sin(x)&quot;</span><span class="p">)</span>

<span class="n">p2</span><span class="o">.</span><span class="n">line</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="mi">2</span><span class="o">*</span><span class="n">y</span><span class="p">,</span> <span class="n">legend</span><span class="o">=</span><span class="s2">&quot;2*sin(x)&quot;</span><span class="p">,</span> <span class="n">line_dash</span><span class="o">=</span><span class="p">(</span><span class="mi">4</span><span class="p">,</span> <span class="mi">4</span><span class="p">),</span> <span class="n">line_color</span><span class="o">=</span><span class="s2">&quot;orange&quot;</span><span class="p">,</span> <span class="n">line_width</span><span class="o">=</span><span class="mi">2</span><span class="p">)</span>

<span class="n">p2</span><span class="o">.</span><span class="n">square</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="mi">3</span><span class="o">*</span><span class="n">y</span><span class="p">,</span> <span class="n">legend</span><span class="o">=</span><span class="s2">&quot;3*sin(x)&quot;</span><span class="p">,</span> <span class="n">fill_color</span><span class="o">=</span><span class="bp">None</span><span class="p">,</span> <span class="n">line_color</span><span class="o">=</span><span class="s2">&quot;green&quot;</span><span class="p">)</span>
<span class="n">p2</span><span class="o">.</span><span class="n">line</span><span class="p">(</span><span class="n">x</span><span class="p">,</span> <span class="mi">3</span><span class="o">*</span><span class="n">y</span><span class="p">,</span> <span class="n">legend</span><span class="o">=</span><span class="s2">&quot;3*sin(x)&quot;</span><span class="p">,</span> <span class="n">line_color</span><span class="o">=</span><span class="s2">&quot;green&quot;</span><span class="p">)</span>

<span class="n">output_file</span><span class="p">(</span><span class="s2">&quot;legend.html&quot;</span><span class="p">,</span> <span class="n">title</span><span class="o">=</span><span class="s2">&quot;legend.py example&quot;</span><span class="p">)</span>

<span class="n">show</span><span class="p">(</span><span class="n">gridplot</span><span class="p">(</span><span class="n">p1</span><span class="p">,</span> <span class="n">p2</span><span class="p">,</span> <span class="n">ncols</span><span class="o">=</span><span class="mi">2</span><span class="p">,</span> <span class="n">plot_width</span><span class="o">=</span><span class="mi">400</span><span class="p">,</span> <span class="n">plot_height</span><span class="o">=</span><span class="mi">400</span><span class="p">))</span>  <span class="c1"># open a browser</span>
</pre></div>
</div>
</div>


    </div>
  </div>

<!-- END MAIN BODY OF DOCS ––––––––––––– -->

<footer class="footer">
  <div class="footer-links">
    <ul>
      <li><span class="footer-title">About Us</span></li>
      
          <li><a href="//bokehplots.com/pages/about-bokeh.html">About</a></li>
      
          <li><a href="//bokehplots.com/pages/team.html">Team</a></li>
      
          <li><a href="//bokehplots.com/pages/contact.html">Contact</a></li>
      
    </ul>
    <ul>
      <li><span class="footer-title">Links</span></li>
      
          <li><a href="//bokehplots.com/pages/faqs.html">FAQs</a></li>
      
          <li><a href="//bokehplots.com/pages/technical-vision.html">Technical vision</a></li>
      
          <li><a href="//bokehplots.com/pages/roadmap.html">Roadmap</a></li>
      
          <li><a href="//bokehplots.com/pages/citation.html">Citation</a></li>
      
    </ul>
    <ul>
      <li><span class="footer-title">Join Us</span></li>
      
          <li><a href="//bokehplots.com/pages/contribute.html">Contribute</a></li>
      
          <li><a href="//groups.google.com/a/anaconda.com/forum/#!forum/bokeh">Mailing list</a></li>
      
          <li><a href="//github.com/bokeh/bokeh">Github</a></li>
      
          <li><a href="//twitter.com/BokehPlots">Twitter</a></li>
      
          <li><a href="//www.youtube.com/channel/UCK0rSk29mmg4UT4bIOvPYhw">YouTube</a></li>
      
    </ul>
    <ul class="copyright">
      <li>© Copyright 2015, Anaconda.</li>
    </ul>
  </div>
</footer>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27761864-7', 'pydata.org');
  ga('send', 'pageview');
</script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>